@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.tech__font {
  font-family: "Share Tech Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(5, 8, 21);
  color: rgb(206, 214, 243);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 32px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.25;
}

.section__title {
  margin-bottom: 32px;
  font-size: 32px;
}

.text-color {
  color: rgb(145, 251, 220);
}

.text--center {
  text-align: center;
}

.btn {
  margin-top: 16px;
  padding: 20px;
  color: rgb(145, 251, 220);
  border: 1px solid rgb(145, 251, 220);
  background-color: rgb(13, 25, 45);
  border-radius: 5px;
  font-size: 16px;
}

/* 

NAV

*/

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

.nav__wrapper {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 12px;
  color: rgb(206, 214, 243);
  transition: all 300ms ease;
}

.nav__link:hover {
  color: rgb(145, 251, 220);
}

.foo__link:hover {
  color: rgb(145, 251, 220);
}

.container {
  max-width: 1000px;
  width: 100%;
}

/* 

LANDING

*/

#landing {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
}

.small__intro {
  font-size: 30px;
  padding: 0;
  margin-bottom: 12px;
}

.title {
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 650px;
}

.socials {
  display: flex;
}

.socials_link {
  color: white;
  font-size: 32px;
  margin-right: 16px;
  transition: all 300ms ease;
}

.socials_link:hover {
  transform: scale(1.2);
  color: rgb(145, 251, 219);
}

/* 

ABOUT

*/

.about__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.about__description {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__wrapper {
  padding: 20px;
  margin: 0 auto;
  column-count: 2;
  width: 100%;
  max-width: 920px;
  /* background-color: rgb(21, 34, 62); */
  border-radius: 5px;
  /* border: 1px solid rgba(206, 214, 243, 0.151); */
}

.img {
  width: 100%;
  max-width: 800;
  border-radius: 5px;
  filter: grayscale(1);
  transition: all 300ms ease;
  box-shadow: 3px 3px rgba(145, 251, 219, 0.222);
  transform: scale(0.99);
  border: 1px solid rgba(206, 214, 243, 0.151);
}

.img:hover {
  filter: grayscale(0);
  transform: scale(1);
  box-shadow: 3px 3px rgb(145, 251, 219);
}

.tech__list {
  display: flex;
}

.tech__left {
  margin-right: 40px;
}

.fa-angle-right {
  margin-right: 10px;
  color: rgb(145, 251, 219);
}

.tech__name {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  font-size: medium;
}

/* 

FEATURED PROJ

*/

#featured__proj {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.project__img {
  width: 100%;
  border-radius: 5px;
  transition: all 600ms ease;
  opacity: 50;
}

.featured__project__wrapper {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.featured__container {
  padding: 20px;
  transition: all 300ms ease;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 34, 62, 0.907);
  opacity: 10;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

.featured__project {
  margin-bottom: 32px;
  transition: all 300ms ease;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project--background {
  height: 350px;
  width: 350px;
  background-color: rgba(21, 34, 62, 0.815);
}

/* 

PROJECTS

*/

#projects {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
}

.project__hover {
  width: 300px;
  height: 300px;
  background-color: rgba(21, 34, 62, 0.815);
  margin: 15px auto;
  border-radius: 5px;
  transition: all 300ms ease;
}

.project {
  width: 300px;
  height: 300px;
  background-color: rgba(21, 34, 62, 0.815);
  border-radius: 5px;
  box-shadow: 2px 2px rgba(145, 251, 219, 0.222);
  border: 1px solid rgba(206, 214, 243, 0.151);
  transition: all 800ms ease;
}

.project__wrapper {
  padding: 30px;
  transition: all 300ms ease;
}

.featured__project {
  box-shadow: 3px 3px rgba(145, 251, 219, 0.222);
  border-radius: 5px;
}

.featured__project:hover {
  box-shadow: 3px 3px rgb(145, 251, 219);
}

.featured__project:hover .project__description--title {
  color: rgb(145, 251, 219);
}

.featured__container:hover .featured__project {
  transform: translateY(-10px);
}

.project__hover:hover .project__title {
  color: rgb(145, 251, 220);
  transition: all 800ms ease;
}

.project__hover:hover .project__icon {
  color: rgb(145, 251, 219);
}

.project__hover:hover {
  transform: translateY(-10px);
}

.project__hover:hover .project {
  box-shadow: 3px 3px rgb(145, 251, 219);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project__icon {
  font-size: 24px;
  color: rgb(206, 214, 243);
}

.project__title {
  min-height: 40px;
}

.project__descr {
  min-height: 120px;
  margin-top: 10px;
}

/* 

CONTACT

*/

form {
  padding: 20px;
}

.contact {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: rgb(13, 25, 45);
  border: 1px solid rgb(145, 251, 220);
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  background-color: rgba(21, 34, 62, 0.815);
  border-color: white;
}

.form__submit:active {
  border-color: rgb(145, 251, 219);
  color: rgb(13, 25, 45);
  background-color: rgb(145, 251, 219);
}

.form__item--label {
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  background-color: rgb(13, 25, 45);
  color: white;
  outline: none;
  border: 1px solid rgba(21, 34, 62, 0.815);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: rgb(145, 251, 220);
}

.modal__overlay {
  position: relative;
  background-color: rgb(21, 34, 62);
  z-index: -1;
}

.modal__overlay--success {
  background-color: rgb(21, 34, 62);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
  display: none;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}
/* 

FOOTER

*/

footer {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__container {
  padding: 20px;
}

.footer__links--container {
  margin-top: 10px;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-content: center;
}

.foo__link {
  margin: 20px;
  color: rgb(206, 214, 243);
}

.copyright {
  margin-top: 32px;
  opacity: 0.5;
}

/* 

MEDIA

*/

@media (max-width: 768px) {
  .title {
    font-size: 50px;
  }
  .header__para {
    font-size: 20px;
  }

  .project__wrapper--bg {
    opacity: 0.9;
  }

  .project__description {
    opacity: 1;
    transform: translateY(-50%);
  }

  .project__description--title {
    font-size: 32px;
  }

  .project__description--sub-title {
    font-size: 16px;
  }

  .about__description {
    width: 100%;
    justify-content: space-evenly;
  }

  .about__wrapper {
    margin: 0 auto;
    column-count: 1;
    width: 80%;
    max-width: 920px;
    /* background-color: rgb(21, 34, 62); */
    border-radius: 5px;
    /* border: 1px solid rgba(206, 214, 243, 0.151); */
  }

  .tech__name {
    font-size: small;
  }
}

@media (max-width: 480px) {
  .small__intro {
    font-size: 24px;
  }

  .title {
    font-size: 30px;
  }
  .header__para {
    font-size: 16px;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 8px;
  }
}
