body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(13, 25, 45);
  color: rgb(206, 214, 243);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

.section__title {
  margin-bottom: 32px;
  font-size: 32px;
}

.text-color {
  color: rgb(145, 251, 220);
}

.text--center {
  text-align: center;
}

.btn {
  margin-top: 16px;
  padding: 20px;
  color: rgb(145, 251, 220);
  border: 1px solid rgb(145, 251, 220);
  background-color: rgb(13, 25, 45);
  border-radius: 5px;
  font-size: 16px;
}

/* 

NAV

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 80px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 12px;
  color: rgb(206, 214, 243);
  transition: all 300ms ease;
}

.nav__link:hover {
  color: rgb(145, 251, 220);
}

.container {
  max-width: 1000px;
  width: 100%;
}

/* 

LANDING

*/

#landing {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  padding: 20px;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.small__intro {
  font-size: 50px;
  padding: 0;
  margin-bottom: 12px;
}

.title {
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 650px;
}

/* 

FEATURED PROJ

*/

#featured__proj {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.project__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 600ms ease;
  opacity: 50;
}

.featured__project__wrapper {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 34, 62, 0.815);
  opacity: 10;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

.featured__project {
  margin-bottom: 32px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project--background {
  height: 350px;
  width: 350px;
  background-color: rgba(21, 34, 62, 0.815);
}

/* 

PROJECTS

*/

#projects {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
}

.project__hover {
  width: 300px;
  height: 300px;
  background-color: rgba(21, 34, 62, 0.815);
  margin: 15px auto;
  border-radius: 5px;
  transition: all 300ms ease;
}

.project {
  width: 300px;
  height: 300px;
  background-color: rgba(21, 34, 62, 0.815);
  border-radius: 5px;
  border: 1px solid rgba(206, 214, 243, 0.151);
  transition: all 800ms ease;
  word-wrap: break-word;
}

.project__wrapper {
  padding: 30px;
  transition: all 300ms ease;
}

.project__hover:hover .project__title {
  color: rgb(145, 251, 220);
  transition: all 800ms ease;
}

.project__hover:hover {
  transform: translateY(-5px);
}

.project__hover:hover .project {
  border: 1px solid rgb(145, 251, 220);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project__icon {
  font-size: 24px;
  color: rgb(206, 214, 243);
}

.project__descr {
  height: 150px;
}

.project__descr {
  margin-top: 10px;
}

/* 

FOOTER

*/

footer {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__links {
  display: flex;
}

.foo__link {
  margin: 20px;
  color: rgb(206, 214, 243);
}

.copyright {
  margin-top: 32px;
  opacity: 0.5;
}
